version: '3.1'

services:
  aqua-telegram-bot:
    restart: always
    image: avi0n/aqua-telegram-bot:latest
    # Uncomment the following line if you are developer
    # build: .
    env_file: .env
    container_name: aqua-telegram-bot
    volumes:
      # Change the location of the SQLite database files by replacing "./db" with your custom path
      - ./db:/bot/db
