version: '3.1'

services:
  mariadb:
    build: ./db-docker
    container_name: mariadb
    restart: always
    hostname: mariadb
    command: 
      'mysqld --innodb-flush-method=littlesync --innodb-use-native-aio=OFF --log_bin=ON'
    volumes:
      - ./db/config:/config:rw
      - ./db/data:/var/lib/mysql
    ports:
      - '3306:3306'
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASS}

  aqua-telegram-bot:
    restart: always
    build: .
    container_name: aqua-telegram-bot
    depends_on:
      - mariadb
