version: '3.1'

services:
  mariadb:
    build: ./db-docker
    container_name: mariadb
    restart: always
    hostname: mariadb
    command: 
      'mysqld --innodb-flush-method=littlesync --innodb-use-native-aio=OFF --log_bin=ON'
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASS}
      - TZ=America/Los_Angeles
    volumes:
      - ./db/data:/var/lib/mysql
    ports:
      - '3306:3306'

  aqua-telegram-bot:
    restart: always
    # Uncomment the following line if you are not a developer
    # It will simply download the latest version of the bot rather than compiling it on your computer
    #image: avi0n/aqua-telegram-bot:latest
    build: .
    env_file: .env
    container_name: aqua-telegram-bot
    depends_on:
      - mariadb

#  phpmyadmin:
#    hostname: phpmyadmin
#    container_name: phpmyadmin
#    image: phpmyadmin/phpmyadmin
#    restart: always
#    links:
#      - mariadb:db
#    ports:
#      - 2001:80
#    environment:
#      - PMA_HOST=mariadb
#      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
